{{<local_mxaimanager/reusable/manage_page}}
    {{$content}}
        <div class="mb-5">
            <div class="d-flex justify-content-between align-items-center mb-3">
                <h5 class="mb-0">{{#str}}manage_features:title, local_mxaimanager{{/str}}</h5>
            </div>
            <hr/>
            <p class="text-muted">{{#str}}here_you_can_see_all_components_ai_features, local_mxaimanager{{/str}}</p>
            <div>
                {{{table_html}}}
            </div>
        </div>
    {{/content}}
{{/local_mxaimanager/reusable/manage_page}}
