{{<local_mxaimanager/reusable/manage_page}}
    {{$content}}
        <h5>{{#str}}manage_providers:edit_provider, local_mxaimanager{{/str}}</h5>
        <div>
            {{{form_html}}}
        </div>
    {{/content}}
{{/local_mxaimanager/reusable/manage_page}}
