{{<local_mxaimanager/reusable/manage_page}}
    {{$content}}
        <h5>{{#str}}manage_features:edit_feature_settings, local_mxaimanager, {{name}}{{/str}}</h5>
        <div>
            {{{form_html}}}
        </div>
    {{/content}}
{{/local_mxaimanager/reusable/manage_page}}
